:root.theme-dark {
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --sub-text-color: #000028;
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --header-bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .decorative__element {
  display: flex;
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
  transition: border 0.3s;
}
