.page {
  margin: 0 auto;
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  min-block-size: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px;
  color: var(--button-color);
  text-align: center;
  border: none;
  background: transparent;
  transition: border 0.3s;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.decorative__element {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--button-color);
  text-align: center;
  padding-inline-end: 8px;
  text-transform: uppercase;
  margin: 20px;
}

.decorative__element::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px var(--accent-color);
}

.frame::before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  border-block-start: 1px solid var(--button-color);
  border-inline-end: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.frame::after {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
  border-block-end: 1px solid var(--button-color);
  border-inline-start: 1px solid var(--button-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: var(--header-font-size);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
  margin-inline-start: -20px;
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
  display: inline-block;
}

.header__text {
  max-inline-size: 491px;
  max-block-size: 71px;
  align-self: center;
  justify-self: end;
}

.content__section-title {
  color: var(--button-color);
  font-weight: 700;
  line-height: 23.4px;
  font-size: var(--font-size);
}

.text__container-title {
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px;
}

.text__container-text {
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
}

.text__container-subtitle {
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px;
}

.text__container-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  transition: text-shadow 0.3s;
}

.text__container-link:hover {
  border-block-end: 1px solid var(--text-color);
}

.text__container-link:focus {
  outline: none;
}

.text__container-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.content {
  margin: 0 auto;
  max-inline-size: 1440px;
}

.content__section-about-focus {
  margin: 0 20px;
  padding-block-start: 60px;
  display: grid;
  gap: 20px;
  padding-block-end: 40px;
}

.text__container {
  display: grid;
  gap: 20px;
}

.content__section-about-concentration {
  margin: 0 20px;
  padding-block-start: 50px;
  padding-block-end: 50px;
  padding-inline-end: 20px;
}

.content__section-title-about-concentration {
  max-inline-size: 315px;
}

.text__container-about-concentration-cards {
  display: grid;
  gap: 20px;
}

.content__section-about-advices {
  margin: 0 20px;
  display: grid;
  gap: 20px;
  padding-block-end: 80px;
}

.text__container-about-advices-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery {
  padding-block-end: 60px;
}

.gallery-title {
  margin: 0 20px 20px 20px;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0 20px;
}

.gallery-item {
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

.footer {
  min-block-size: 100vh;
  padding: 20px;
  display: grid;
  align-content: center;
  position: relative;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: var(--footer-font-size);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --footer-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .header__title {
    font-size: var(--header-font-size);
  }

  .content__section-about-focus {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-inline-end: 20px;
  }

  .text__container-about-concentration-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 20px;
  }

  .content__section-title-about-concentration {
    max-inline-size: 236px;
  }

  .content__section-about-advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-block-end: 80px;
  }

  .footer {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  :root {
    --header-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --footer-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header {
    padding: 10px;
  }

  .header__title {
    margin-inline-start: 0;
    font-size: var(--header-font-size);
  }

  .header__text {
    max-inline-size: 355px;
    max-block-size: 117px;
  }

  .content__section-about-focus {
    margin: 0 10px;
    padding-block-start: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .content__section-about-concentration {
    margin: 0 10px;
    padding-block-start: 50px;
    padding-inline-end: 0;
    padding-block-end: 50px;
  }

  .content__section-title-about-concentration {
    min-inline-size: 355px;
  }

  .text__container-about-concentration-cards {
    display: flex;
    flex-direction: column;
  }

  .content__section-about-advices {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-end: 50px;
  }

  .gallery {
    padding-block-end: 40px;
  }

  .gallery-title {
    margin: 0 10px 10px 10px;
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
  }

  .footer {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .footer__title {
    font-size: var(--footer-font-size);
  }

  .decorative__element {
    margin: 10px;
  }

  .frame::before {
    margin: 10px;
  }

  .frame::after {
    block-size: 25px;
    margin: 10px;
  }
}
