/*:root {
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --sub-text-color: #000028;
  --accent-color: #ff0070;
  --font: 'IBM Plex mono', sans-serif;
  --font-size: 18px;
  --button-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  /*--header-bg-image: url(../images/cover-image-dark.png);*/
  /*--header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --footer-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}*/

:root {
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --sub-text-color: #000028;
  --accent-color: #ff0070;
  --font: 'IBM Plex mono', sans-serif;
  --font-size: 18px;
  --button-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --footer-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

